<!DOCTYPE html>
<html>
<head>
  <title>The Steam Room</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- google fonts (Impallari Type - Principal design) -->
  <style>
    @import url('https://fonts.googleapis.com/css?family=Dosis');
  </style>
</head>
<body>
  
  <div class="page-wrapper">
    <div class="left-column">
      <div role="navigation" class="nav-bar">
        <h1 class="restaurant-name text-center">Steam Sum</h1>
        <ul class="nav nav-pills nav-stacked navbar text-center">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Menu</a></li>
          <li role="presentation"><a href="#">Location</a></li>
          <li role="presentation"><a href="#">More</a></li>
        </ul>
      </div> 
    </div>
    
  <div class="right-column">
    
<!-- yield is here -->
    <%= yield %>
  
  </div>
</div>



</body>
</html>
