/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

li h6 {
  color: white;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Dosis', sans-serif;
}

.left-column {
  position:fixed;
  top:0;
  left:0;
  background:gray;
  width:150px;
  height:100%;
}

.navbar {
  margin: 10px;
}

.page-wrapper {
  height: 100%;
  position: relative;
}

.restaurant-name {
  color: white;
}

.right-column {
  top:0;
  background:white;
  margin-left:150px;
  height:100%;
}
